/* reset css */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.wrapper {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(246, 252, 252, 0.7);
  z-index: 9999;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper::after {
  content: "";
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 80px;
  height: 80px;
  border-style: solid;
  border-color: rgb(37, 34, 252);
  border-top-color: transparent;
  border-width: 7px;
  border-radius: 60%;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* main css code */
#wrapper {
  margin: 2rem 1rem;
}

.page-wrapper {
  max-width: 44rem;
  margin: auto;
  overflow: hidden;
}

.target-box,
.area-box,
.work-type-box,
.search-type-box {
  width: 100%;
  overflow: hidden;
  border: 1px solid #00bc90;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.checkbox-contents {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.work-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.seacrh-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.box-header {
  font-size: 1.25rem;
  text-align: center;
  background-color: #00bc90;
  color: #fff;
  padding: 1rem;
  font-weight: bold;
}

.area-box-inner {
  width: 100%;
  overflow: hidden;
}

.heade-inner-box {
  padding: 0.5rem 1rem;
  background-color: #00bc90;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in;
}

.heade-inner-box:hover {
  background-color: #009673;
}

.box-header-area-box {
  font-size: 1.1rem;
  color: #fff;
  font-weight: bold;
}

.checkbox-group-para {
  font-size: 1rem;
  width: 100%;
  text-align: right;
  color: #dc3545;
  padding-right: 1rem;
  float: right;
}

/* checkbox css */
.checkbox-group {
  padding: 0.5rem 1rem;
}

.checkbox-container {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  color: #070707;
}

.checkbox-disabled {
  pointer-events: none;
  opacity: 0.4;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: 1px solid #070707;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 4px;
  top: 0;
  width: 7px;
  height: 12px;
  border: solid #070707;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.btn {
  font-size: 1rem;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0.5rem;
  background-color: #e4e4e4;
  outline: none;
  border: 0;
  transition: all 0.2s ease-in;
}

.btn-submit {
  width: 220px;
  background-color: #00bc90;
  color: #fff;
}

.btn-submit:hover {
  background-color: #009c78;
}

.btn-reset:hover {
  background-color: #aaaaaa;
}

.collapsible {
  cursor: pointer;
  margin-bottom: 1rem;
}

.checkbox-content {
  transform: translateY(0);
  height: auto;
  opacity: 1;
  transition: height 0.2s ease-out;
  overflow: hidden;
}

.close-collape {
  transform: translateY(-100%);
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.content-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.collapsible:after {
  content: "";
  color: white;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 15px solid #fff;
  transition: border 0.2s ease-out;
}

.active:after {
  content: "";
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: none;
  border-bottom: 15px solid #fff;
}

.content-wrapper .checkbox-group:first-child {
  width: 100%;
}

.btn-submit:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media only screen and (max-width: 640px) {
  .work-content {
    justify-content: space-between;
  }

  .btn-submit {
    width: initial;
  }
}
